button, .button {
  	display: inline-block;
  	cursor: pointer;
	border-style:solid;
	@include rounded(3px);
	border-width:0 0 3px 0;
  	text-align:center;
  	color: #000;
  	text-decoration: none;
	font-size:1em;
	padding: 10px 15px;
	background-color:$grey-four;
	border-color:darken($grey-four, 10%);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	&:hover, &:focus {
		background-color:darken($grey-four, 5%);
		text-decoration:none;
	}
}

@mixin button-color($color) {
	background-color: $color;
	color:#fff !important;
	border-color:darken($color, 10%);
	&:hover, &:focus {
		background-color:darken($color, 5%);
	}
}

button.orange, .button.orange {
	@include button-color($color-one);
}

button.blue, .button.blue {
	@include button-color($color-two);
}

button.green, .button.green {
	@include button-color($color-three);
}

button.black, .button.black {
	@include button-color($font-color);
}

.button-stretch button, .button-stretch .button {
	padding:.5em 1em;
	font-size:1.5em;
	@include rounded(3px);
	display:block;
}