.mouse-holder {
	font-size:.9em;
	display:table;
	height:200px;
	width:100%;
	position:relative;
	border-bottom:3px solid $color-one;
	margin-bottom:2*$gutter;
	.speech-bubble {
		display:inline-block;
		margin-bottom:50px;
	}
}

#mouse {
	position:relative;
	z-index:100;
	vertical-align:bottom;
	padding:0 0 0 .5*$gutter;
	svg {
		vertical-align:bottom;
		position:relative;
		bottom:-1px;
		width:75px;
		fill:$grey-five;
	}
	svg:hover {
		cursor:pointer;
	}
}

#mouse, .chirp-holder {
	display:table-cell;
	vertical-align:bottom;
}

.chirp-holder {
	width:100%;
	position:relative;
}

.chirp {
  display: none;
}

.chirp:first-child {
  display: block;
}

.speech-bubble  {
	background: $speech-bubble-color;
	padding: .5em;
	color: #fff;
	position:relative;
	@include rounded(3px);
	opacity:0;
	margin-right:$gutter;
	&.fade-in {
		opacity:1;
		animation: Appear 2.5s;
	}
	&:before {
		content: "";
		width: 0px;
		height: 0px;
		position: absolute;
		border-left: 10px solid $speech-bubble-color;
		border-right: 10px solid transparent;
		border-top: 10px solid $speech-bubble-color;
		border-bottom: 10px solid transparent;
		left: 19px;
		bottom: -19px;
	}
	p {
		margin-bottom:0;
	}
}

@keyframes Appear {
  0% {
    opacity:0;
  }
  90% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.reverse-tell {
	display:block;
	width:100%;
	text-align:center;
	font-size:.9em;
	color:$grey-five;
}