// Hand crafted by Andrew Iacco
// Ann Arbor, Michigan

// ---------------------- Variables ----------------
$font-color:#283c46;
$color-one:#ef4136;
$color-two:#2e76ff;
$color-three:#17bf4c;
$grey-one:#f7f7f7;	
$grey-two:#e8e8e8;
$grey-three:#ddd;		
$grey-four:#ccc;
$grey-five:#a1a1a1;
$grey-six:#686868;		
$highlight:#ffffcc;		
$unvisited:#2e76ff;
$visited:#2e76ff;
$gutter:10px;

// ---------------------- Mixins and Partial  ----------------
@mixin rounded($radius) {
	-moz-border-radius: $radius;     // for mozilla-based browsers 
	-webkit-border-radius: $radius;  // for webkit-based browsers 
	border-radius: $radius;          // for all browsers 
}

@mixin shadow($shadow-color) {
	-moz-box-shadow: 3px 3px 5px $shadow-color;     // for mozilla-based browsers 
	-webkit-box-shadow: 3px 3px 5px $shadow-color;  // for webkit-based browsers 
	box-shadow: 3px 3px 5px $shadow-color;          // for all browsers 
}

@mixin shades($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //ie8
}

@import "compass/reset";
@import "grid";
@import "buttons";
@import "images";
@import "lightbox";
@import "source-sans-pro"; //font weights 300, 400, 700, 900
@import "forms";
@import "mouse";

// -------------------- Basic Stuff --------------------
html {
	font-size: 1.1em;
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

body {
	color:$font-color;
}

h1, h2, h3, h4, h5 {
	font-weight:700;
}

h1 {font-size:3em;}

h2 {font-size:2em;}

h3 {
	font-size:1.5em; 
	a {font-weight:normal;}
}

h4 {font-size:1.15em;}

h5 {
	font-size:1em;
	font-weight:bold;
}

h1, h2, h3, h4, h5 {
	padding:.85em 0 .4em 0;
	margin:0;
	line-height:initial;
	letter-spacing:initial;
}

p {
	margin-bottom:1.2em;
	line-height:1.4;
}

ul, ol {
	line-height:1.4;
	margin-bottom:1.2em;
	padding-left:1em;
	li {
		list-style-type:disc;
		margin-left:1em;
	}
}

ol {
	li {list-style-type:decimal;}
}

i {font-style:italic;}

strong {font-weight:bold;}

a:link, .default-link:visited {
	color:$unvisited;
	text-decoration:none;
}

a:visited, a.visited  {
	color:$visited;
}

a:hover {
	text-decoration:underline;
}

// -------------------- Utilities --------------------
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

.divider {
	padding:0 4px;
	color:$grey-three;
}

.padbox {padding:$gutter;}
.hidden {visibility:hidden;} 
.highlight {background-color:$highlight;}

#design {
	.column {
		padding-top:1em
	}
}

.step {
	font-size:.9em;
	.step-title span {
		@include rounded(10px);
		padding:1px 10px;
		//margin-right:10px;
		color:#fff;
		font-weight:bold;
		background-color:$color-one;
		white-space:nowrap;	
	}
}

.dev-gate {
	text-align:center;
	background-color:$grey-two;
	border:2px dashed $grey-five;
}

.background-texture {
	background: $grey-one url(../images/blob-comp.svg) top center repeat-y;
    background-size: 200%, 100rem;
}

.hint-text {
	color:$grey-five;
	font-size:.9em;
}

// ---------------------- Home ----------------
#header {
	.logo {
		max-height:90px;
		.logo-color {
			fill:$color-one;
		}
	}
	h1 {
		padding:0; 
		margin:0 20px; 
		display:inline-block; 
		border-bottom:1px solid $grey-four;
	}
	p {
		font-size:.9em;
		margin:0 20px; 
	}
	@media (#{$bp-smaller-than-phablet}){
		text-align:center;
		h1 {
			font-size:2.5em;
		}
		svg {
			height:100px;
			width:100%;
			margin:auto;
		}
	}
}

#main-content {
	.row {
		margin-left:20px;
		@media (#{$bp-smaller-than-phablet}){
			margin-left:0;
		}
	}
}

#drop {
	z-index:-10;
	opacity:0;
	transition:all 0.1s ease;
	&.show-it {
		opacity:1;
	}
	@media (#{$bp-smaller-than-phablet}){
		position:relative;
		transform:translateY(-160px);
		right:0;
		left:0;
		margin:0 auto;
	}
	@media (#{$bp-larger-than-phablet}){
		transform:translateY(-65px);
		position:relative;
	}
}

#page-puddle {
	border-color:#ef4237;;
	margin-bottom:2em;
	&:before { 
		content: '';
		position: absolute;
		border-bottom-width:3px;
		border-bottom-style:solid;
		border-color:inherit;
		height: 32px;
		left:50px;
		right:0;
		transform: translateY(-24px);
	}
	@media (#{$bp-smaller-than-phablet}){
		text-align:center;
		&:before { 
		  left:0;
		}
	}
}

.paint-bucket {
	position:relative;
	bottom:-10px;
	display:inline-block;
	&:hover {
		text-decoration:none;
	}
	svg {
		width:18px;
		height:18px;
	}
	&.color-one { //red
		color: $color-one;
		.color-fill-one {
			fill: $color-one;
		}
	}
	&.color-two { //blue
		color: $color-two;
		.color-fill-two {
			fill:$color-two;
		}
	}
	&.color-three { //green
		color:  $color-three;
		.color-fill-three {
			fill: $color-three;
		}
	}
	&.color-four { //black
		color: $font-color;
		.color-fill-four {
			fill:$font-color;
		}
	}
}

.project-card {
	padding:1em;
	img {
		width:100%;
		height:auto;
		border:1px solid $grey-four;
		@include shadow($grey-four);
	}
	h5 {
		padding:.5em 0 0 0;
	}
	p {
		color:$grey-six;
		font-size:.9em;
	}
}

// ---------------------- Footer ----------------
.site-info {
	text-align:center;
	color:$grey-five;
	padding-top:1.5em;
	font-size:.9em;
	margin-bottom:400px;
	a {
		text-decoration:none;
		&:hover, &:focus {
			color:$color-one;
		}	
	}
	.footer-links {
		margin-bottom:1.5em;
		line-height:2em;
		a {
			padding:.25em .4em;
			color:$color-one;
			&:hover {text-decoration:underline;}
		}
		.divider {
			padding:0;
		}
	}
}

.made-in {
	margin:1.5em 0;
	span {
		display:inline-block; 
		text-align:left;
		font-size:.9em;
		line-height:.9em; 
		a:link, a:visited {
			color:inherit;
			margin:0;
			cursor:pointer;
		}
		a:hover {
			text-decoration:underline;
		}
	}
}

// ---------------------- Responsive Enhancements ----------------
.responsive-break {
	display:none;
	@media (#{$bp-smaller-than-tablet}){
		display:inline;
	}
}

.responsive-hide { 
	@media (#{$bp-smaller-than-tablet}){
		display:none !important;
	}
}

// ---------------------- Lightbox overrides ----------------
.featherlight {
	.featherlight-content {
		@include rounded(3px);
		max-width:600px;
	}
	h5 {
		padding:0;
	}
	.featherlight-close-icon {
		line-height:40px;
		width:40px;
		font-size:30px;
		padding:0 !important;
	}
}